
    <head>
        <title>Medirecord Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="dashboard.component.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>       
        <h2 class="header">Playlisty</h2>
        <div class="container">
            <div class="item"><a class="item" href="#"><img src="assets/Images/inbox-in-svgrepo-com.svg" alt="icon" class="playlist-icon"> Archive</a></div>
            <div class="item"><a class="item" href="#"><img src="assets/Images/playlist-svgrepo-com.svg" alt="icon" class="playlist-icon"> Playlist</a></div>
            <div class="item"><a class="item" href="#"><img src="assets/Images/conference-svgrepo-com.svg" alt="icon" class="playlist-icon"> Konference</a></div>
            <div class="item"><a class="item" href="#"><img src="assets/Images/videocamera-record-svgrepo-com.svg" alt="icon" class="playlist-icon"> Kamery</a></div>
            <div class="item"><a class="item" href="#"><img src="assets/Images/calendar-svgrepo-com.svg" alt="icon" class="playlist-icon"> Kalendář</a></div>
        </div>
        <div class="container2">
            <div class="separator"></div>
            <div class="own-playlists">  <a class="own-playlists-text"><img src="assets/Images/playlist-svgrepo-com.svg" alt="icon" class="playlist-icon"> PŘEJÍT NA VLASTNÍ PLAYLISTY</a></div>
            <div class="buttons">
                <div class="last">
                <div class="separator3"></div>
                <button class="last-played-button"><img src="assets/Images/noun-history-3805549.svg" alt="icon" class="playlist-icon-right">Naposledy Shlédnuté</button>
                </div>
                <div class="separator3"></div>
                <button class="shared-button"><img src="assets/Images/folder-transfer-svgrepo-com.svg" alt="icon" class="playlist-icon-right-middle">Sdílené Záznamy</button>
                <button class="watch-later-button"><img src="assets/Images/time-left.svg" alt="icon" class="playlist-icon-right-later">Shlédnout Později</button>
                <div class="separator3"></div>

            </div>
        </div>
        <app-user-list></app-user-list>
        <div class="container3"></div>
    </body>







