body {
    background-color: rgb(21, 21, 21);
    color: white; /* Ensures text is visible */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    height: 100vh /* Makes sure it covers the full viewport */
}
* {
    font-family: Calibri, sans-serif;
}

.container{
    position: fixed;
    left: 25px;
    top: 0;
    width: 80px; /* Adjust width as needed */
    height: 100vh;
    background-color: #414141; /* Dark background */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Space between items */
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #aaa; /* Light gray text */
    font-size: 14px;
    transition: 0.3s ease-in-out;

}
.own-playlists{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    color: #aaa; /* Light gray text */
    font-size: 14px;
    transition: 0.3s ease-in-out;
    text-decoration: underline;
    position: fixed;
    top:285px;
    right:270px;
    cursor: pointer;
}


.container2 {
    position: fixed;
    right:25px;
    top:60px;
    display: flex;  
    flex-direction: row;  /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;  /* Center items horizontally */
    background-color: #222;  /* Dark background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 480px;  /* Adjust width */
    height: 250px; /* Adjust height */
    margin: 0px;  /* Space from other elements */
}
.header{
    font-size: 24px;  /* Make text larger */
    font-weight: normal;  /* Make it bold */
    text-transform: uppercase;  /* Make it all caps if needed */
    display: inline-block;  /* Prevents unwanted effects from scaling */
    letter-spacing: 3px;
    position: fixed;
    right:385px
}
.last-played-button {
    background-color: #191818;
    text-transform: uppercase;
    color: rgb(212, 212, 212) ;
    border:none;    
    align-items: center;
    padding: 10px;
    gap:20px;   
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    right:377px;
    top: 80px;
    height: 170px;
    width:150px;
    transition: opacity, 0.3s;
}
.last-played-button:active{
    opacity: 0.75;
}
    
.shared-button {
    background-color: #191818;
    text-transform: uppercase;
    color: rgb(212, 212, 212) ;
    border:none;    
    align-items: center;
    padding: 10px;
    gap:20px;   
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    right: 209px;
    top: 80px;
    height: 170px;
    width:150px;
    transition: opacity, 0.3s;
}
.shared-button:active{
    opacity: 0.75;
}
.watch-later-button{
    background-color: #191818;
    text-transform: uppercase;
    color: rgb(212, 212, 212) ;
    border:none;    
    align-items: center;
    padding: 10px;
    gap:20px;   
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    right: 41px;
    top: 80px;
    height: 170px;
    width:150px;
    transition: opacity, 0.3s;
}

.watch-later-button:active{
    opacity: 0.75;
}




.container3 {
    position: fixed;
    right:25px;
    top: 430px;
    display: flex;  
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;  /* Center items horizontally */
    background-color: #222;  /* Dark background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 480px;  /* Adjust width */
    height: 300px; /* Adjust height */
    margin: 0px;  /* Space from other elements */
}


.playlist-icon{
    width: 40px;
    height: 40px;
    filter: grayscale(28%) brightness(0) invert(1); /* Convert to gray */
    opacity: 0.7; /* Adjust transparency */
    transition: opacity, 0.3s;
    
}
.playlist-icon:active{
    opacity: 0.5;
}
.playlist-icon-right{
    width: 100px;
    height: 100px;
    filter: grayscale(28%) brightness(0) invert(1); /* Convert to gray */
    opacity: 0.7; /* Adjust transparency */
    transition: opacity, 0.3s;
    
}
.playlist-icon-right:active{
    opacity:0.5;

}
.playlist-icon-right-middle{
    width: 80px;
    height: 80px;
    filter: grayscale(28%) brightness(0) invert(1); /* Convert to gray */
    opacity: 0.7; /* Adjust transparency */
    margin-bottom: 19px;
    transition: opacity, 0.3s;
}
.playlist-icon-right-middle:active{
    opacity:0.5;

}

.playlist-icon-right-later{
    width: 80px;
    height: 80px;
    filter: grayscale(28%) brightness(0) invert(1); /* Convert to gray */
    opacity: 0.7; /* Adjust transparency */
    margin-bottom: 19px;
}
.playlist-icon-right-later:active{
    opacity:0.5;
    transition: opacity, 0.3s;

}


