<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="dashboard.component.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>

        
        <div class="container">
            <div class="item"><a class="item" href="#"><img src="/Images/inbox-in-svgrepo-com.svg" alt="icon" class="playlist-icon"> Archive</a></div>
            <div class="item"><a class="item" href="#"><img src="/Images/playlist-svgrepo-com.svg" alt="icon" class="playlist-icon"> Playlist</a></div>
            <div class="item"><a class="item" href="#"><img src="/Images/conference-svgrepo-com.svg" alt="icon" class="playlist-icon"> Konference</a></div>
            <div class="item"><a class="item" href="#"><img src="/Images/videocamera-record-svgrepo-com.svg" alt="icon" class="playlist-icon"> Kamery</a></div>
            <div class="item"><a class="item" href="#"><img src="/Images/calendar-svgrepo-com.svg" alt="icon" class="playlist-icon"> Kalendář</a></div>
        </div>
        <h2 class="header">Playlisty</h2>
        <div class="container2">
            <div class="own-playlists"><a><img src="/Images/playlist-svgrepo-com.svg" alt="icon" class="playlist-icon"> PŘEJÍT NA VLASTNÍ PLAYLISTY</a></div>
            <div class="buttons">
                <div class="last">
                <button class="last-played-button"><img src="/Images/noun-history-3805549.svg" alt="icon" class="playlist-icon-right">Naposledy Shlédnuté</button>
                
                </div>
                <button class="shared-button"><img src="/Images/folder-transfer-svgrepo-com.svg" alt="icon" class="playlist-icon-right-middle">Sdílené Záznamy</button>
                <button class="watch-later-button"><img src="/Images/time-left.svg" alt="icon" class="playlist-icon-right-later">Shlédnout Později</button>
            </div>
        </div>
        <div class="container3">
            
        </div>
    </body>
</html>







