.users-header{
    font-size: 24px;  /* Make text larger */
    font-weight: normal;  /* Make it bold */
    text-transform: uppercase;  /* Make it all caps if needed */
    display: inline-block;  /* Prevents unwanted effects from scaling */
    letter-spacing: 3px;
    position: fixed;
    right:780px;
}
.separator-2 {
    width: 2px;
    background-color: #272727;
    position:fixed;
    right: 950px;
    top: 20px;
    bottom: 10px;
}