/* Main container styles */
/* Styles for the main user list container */
.users-container {
    font-family: Calibri;
    width: 21vw;
    max-width: 21vw;
    background-color: #252525;
    color: #ffffff;
    padding: 10px 0;
    box-sizing: border-box;
    overflow-y: scroll; /* Enables vertical scrolling */
    max-height: 100vh; /* Sets the max height for the container */
    height: 100vh; /* Ensures container height is correctly set */
    position: absolute;
    left:45vw;
    top:7.5%;
    border-radius: 10px;
    scrollbar-color: #333;
}

/* Separator styles */
/* Styles for the separator element in the user list */
.separator-4{
    width: 2px;
    position: absolute;
    right: 56vw;
    top: 1.2vw;
    bottom: 1vw;
    background-color: rgb(39, 39, 39);
}

/* User text styles */
/* Styles for the text displaying user information */
.users-text{
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 15px 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    top:2vh;
    left:45%;
}

/* Table styles */
/* Styles for the user table layout */
.users-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 100vh; /* Sets max height for the table */
    display: block; /* Allows the table to be scrollable */
}

/* User row styles */
/* Styles for each row in the user table */
.user-row {
    border-bottom: 2px solid #1c1c1c;
}

.user-row:last-child {
    border-bottom: none;
}

/* Table cell styles */
/* Styles for the individual cells in the user table */
.status-cell {
    width: 1.2vh;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
}

.avatar-cell {
    width: 45px;
    padding: 10px 0;
    vertical-align: middle;
}

.name-cell {
    width: 30vw;
    height:5vh;
    padding: 10px 0;
    vertical-align: middle;
}

.call-cell {
    width: 10vw;
    padding: 10px 15px 10px 0;
    text-align: right;
    vertical-align: middle;
}

/* Status indicator styles */
/* Styles for the status indicators representing user availability */
.status-indicator {
    width: 0.5vw;
    height: 1vh;
    border-radius: 50%;
    margin-right: 1vw;
    display: inline-block;
}

.status-available {
    background-color: #4CAF50;
}

.status-busy, .status-offline {
    background-color: #F44336;
}

.status-away {
    background-color: #9e9e9e;
}

/* User avatar styles */
/* Styles for the user avatars displayed in the list */
.user-avatar {
    width: 1.9vw;
    height: 3.9vh;
    border-radius: 50%;
    background-color: #333;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
    font-size: 14px;
}

/* Name styles */
/* Styles for the user names displayed in the list */
.lastname {
    font-weight: bold;
    margin-right: 5px;
    font-size: 1vw;
}

.firstname {
    color: #aaa;
    font-size: 0.6vw;
}

/* Call button styles */
/* Styles for the call button associated with each user */
.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-left: auto;
}

.call-button svg {
    width: 16px;
    height: 16px;
}

/* Media query for small screens */
/* Responsive styles for screens smaller than 768px */
@media (max-width: 768px) {
    .separator-4{
        visibility: hidden;
    }
    .name-cell{
        width: 50vw;
    }
    .users-container{
        top:1740px;
        width: 90vw;
        max-width: 90vw;
        left:5%;
    }
    .users-text{
        top:1690px;
        left:8%;
    }
    .lastname{
        font-size: 1rem;
    }
    .firstname{
        font-size: 1rem;
    }
    .user-avatar{
        width: 40px;
        height: 40px;
        margin-right: 5vw;
    }
    .status-indicator{
        width: 10px;
        height: 10px;
        margin-right: 10vw;
    }

    /* Media query for landscape orientation */
    /* Responsive styles for landscape orientation */
    @media screen and (orientation: landscape){
        .users-container{
            top:1570px;
            width: 93vw;
            height:80vh;
            max-width: 93vw;
            left:3%;
        }
        .users-text{
            top:100vh;
            left:5%;
            font-size: 25px;
        }
        .status-cell {
            width: 10vw;
            padding: 10px 0 10px 15px;
            vertical-align: middle;
            margin-right: 10px;
        }
        
        .avatar-cell {
            width: 10vw;
            padding: 10px 0;
            vertical-align: middle;
        }
        
        .name-cell {
            width: 45vw;
            padding: 10px 0;
            vertical-align: middle;
        }
        
        .call-cell {
            width: 20vw;
            padding: 10px 15px 10px 0;
            text-align: right;
            vertical-align: middle;
        }
        
        /* Status indicator styles */
        /* Styles for the status indicators in landscape orientation */
        .status-indicator {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
        }
        .user-avatar{
            width: 5vw;
            height:10vh;
        }
    }
}