
.chart-container {
    position: absolute;
    right:1.7vw;
    top: 53vh;
    display: flex;  
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;  /* Center items horizontally */
    background-color: #222;  /* Dark background */
    color: white;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    width: 28vw;  /* Adjust width */
    height: 18vw; /* Adjust height */
    margin: 0px;  /* Space from other elements */
}
.active{
    font-size: 14px;  /* Make text larger */
    font-weight: normal;  /* Make it bold */
    text-transform: uppercase;  /* Make it all caps if needed */
    display: inline-block;  /* Prevents unwanted effects from scaling */
    letter-spacing: 2px;
    position: absolute;
    top:10%;
    left:5%;
}

.separator4{
    position: absolute;
    bottom:11%;
    width: 90%;
    background-color: #000000;
    height:2px;
}
.separator5{
    position: absolute;
    top: 20%;
    right:4%;
    width:34%;
    background-color: #5d5d5d;
    height:2px;
}

.activities-hospital{
    color:rgb(187, 10, 187);
    font-size: 12px;  /* Make text larger */
    font-weight: normal;  /* Make it bold */
    text-transform: uppercase;  /* Make it all caps if needed */
    display: inline-block;  /* Prevents unwanted effects from scaling */
    letter-spacing: 2px;
    position: absolute;
    text-decoration: underline;
    top:14%;
    right:5%;
    cursor: pointer;
    transition: opacity, 0.3s;
}
.activities-hospital:active{
    opacity: 0.6;
}
.statistics{
    font-size: 24px;  /* Make text larger */
    font-weight: normal;  /* Make it bold */
    text-transform: uppercase;  /* Make it all caps if needed */
    display: inline-block;  /* Prevents unwanted effects from scaling */
    letter-spacing: 3px;
    position: absolute;
    top:45%;
    right:22.5%;
}
canvas {
    width: 35%;
    height: 40%;
    position: absolute;
    top:28%;
}

@media (max-width: 768px) {
    .chart-container{
        top:2480px;
        left:5%;
        width: 80vw;
        height:40vh;


    }
    .statistics{
        top:2430px;
        left:7%;
    }
    canvas {
        width: 90vw !important;
        height: 37vh !important;
        top:18%;


    }
    .active{
        top:3%;
    }
    .separator4{
        bottom:13%;
    }
    @media screen and (orientation: landscape){
        canvas{
            width: 80vw !important;
            height:80vh !important;
            top:17%;

        }
        .statistics{
            top: 1910px;
            left:7%;

        }
        .chart-container{
            top:1980px;
            left:5%;
            width: 80vw;
            height:90vh;
    
        }
        .separator4{
            bottom:10%;
        }
        .activities-hospital{
            top:3%;
        }
        .separator5{
            top:7%;
        }
    }
    
}   







