.meetings {
    margin: 0;
    position: absolute;
    left: 7.5%;
    top: 40%;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.appointment-wrapper {
    width: 90%;
    max-width: 510px;
    height: auto;
    margin: auto;
    border: none;
    border-radius: 20px;
    background: #202020;
    padding: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);

}

.appointment-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    position: relative;
    padding: 10px;
}

.appointment-container::-webkit-scrollbar {
    width: 8px;
}

.appointment-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.appointment-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.2s ease, background 0.3s ease;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #292929;
}

.appointment-box:hover {
    background: #1e1e1e;
    transform: scale(1.01);
}

/* Dynamické zvýraznění řádků podle ID */
.appointment-box[data-id="1"] {
    background: #2c3e50;
}

.appointment-box[data-id="2"] {
    background: #8e44ad;
}

.appointment-box[data-id="3"] {
    background: #27ae60;
}

/* Stylování textu pro pacienty a procedury */
.bold {
    font-weight: bold;
}

.status-done {
    background-color: #57c84d;
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
}

.status-pending {
    background-color: #e74c3c;
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
}

.status-unknown {
    background-color: #f1c40f;
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
}

/* Dynamická kontrola null hodnot pro pacienty a procedury */
.patient-null,
.procedure-null {
    color: #7f8c8d;
    font-style: italic;
}

/* Responzivita */
@media (max-width: 768px) {
    .appointment-box {
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .appointment-box {
        grid-template-columns: repeat(2, 1fr);
        font-size: 12px;
        padding: 6px;
    }
}

.appointment-box:nth-child(even) {
    background: #343434;
}

tbody {
    display: table-row-group !important;
}