.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 26.5vh; 
  background: #1e1e1e; 
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 3.8vw;
  left: 7.27vw;
}

.chart-numbers {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.gray {
  color: rgb(65, 65, 65); 
  position: absolute;
  bottom: 20%;
  left: 7%; 
}

.pink {
  color: #e91e63;
  position: absolute;
  bottom: 8%;
  left: 17%; 
}

.separator-6 {
  width: 28%; 
  height: 3px; 
  background-color: rgb(0, 0, 0); 
  transform: rotate(135deg); 
  position: absolute;
  bottom: 20%;
  left: 1%;
}

.planned-text {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 200px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

app-chart {
  display: none;
}

canvas {
  position: absolute;
  right: 0%;
  top: 15%;
  width: 10vw;
  height: 10vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  }

/* Mobile responsiveness for screens up to 768px */
@media screen and (max-width: 768px) {
  .chart-container {
    width: 88vw;
    height: 50vh;
    max-height: 250px;
    position: absolute;
    top: 1370px;
    left: 3vw;
    margin: 0 auto;
    padding: 3vw;
  
  }

  .chart-numbers {
    font-size: 6vw;
  }

  .gray {
    bottom: 18%;
    left: 5%;
  }

  .pink {
    bottom: 6%;
    left: 15%;
  }

  .separator-6 {
    width: 25%;
    height: 2px;
    bottom: 18%;
    left: 0;
  }

  .planned-text {
    font-size: 3vw;
    width: 80%;
    top: 2%;
    left: 4%;
  }

  canvas {
    width: 30vh !important;
    height: 30vh !important;

  }
  @media screen and (orientation: landscape) {
    canvas {
      width: 25vw !important;
      height: 25vw !important;
    }
    .separator-6 {
      width: 20%;
      height: 2px;
      bottom: 28%;
      left: 0;
    }
    .gray {
      bottom: 29%;
      left: 5%;
    }
  
    .pink {
      bottom: 6%;
      left: 12%;
    }
    .chart-container{
      position: absolute;
      width: 88vw;
      top: 1230px;
      left: 3vw;
    }

  }
}
