body {
    background-color: rgb(21, 21, 21);
    color: white; /* Ensures text is visible */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    height: 100vh; /* Makes sure it covers the full viewport */
    overflow: hidden;

}
* {
    font-family: Calibri, sans-serif;
}
app-chart {
    position: absolute;
    width: 0;
    height: 0;

  }

