<h2 class="todays-checkups">DNEŠNÍ VYŠETŘENÍ</h2>

<div class="container-activities">
    <p class="text-checkup">ZAZNAMENANÉ AKTIVITY:</p>
    <div class="checkup"><img src="assets/Images/heart-rate-svgrepo-com.svg" alt="icon" class="checkup-icon"><p class="activities-text">VYŠETŘENÍ</p></div>
    <div class="video"><img src="assets/Images/video-svgrepo-com.svg" alt="icon" class="video-icon"><p class="activities-text">VIDEOZÁZNAMY</p></div>
    <div class="images"><img src="assets/Images/picture-svgrepo-com.svg" alt="icon" class="images-icon"><p class="activities-text">SNÍMKY</p></div>
    <div class="separator3"></div>
</div>



    